    container1
            .left-header-box Become a Tendency Patron.

            .middle-header-box
                .top-line McSWEENEY'S
                .middle-line INTERNET TENDENCY
                .bottom-line CELEBRATING OUR 21ST YEAR!

            .right-header-box 
                i Daily humor almost every day since 1998.

        .top-ad
            .top-ad-title MCSWEENEY'S INTERNET TENDENCY'S PATREON
            .top-ad-description 
                i As little as $1 a month (only $12 a year!) is all it takes to support our writers and to keep our site ad-free. Become a patron today.