@import "../../node_modules/bootstrap/scss/bootstrap.scss"

body
    background-color: white

li
    color: rgb(180,180,180)

.container1
    display: grid
    grid-template-columns: 20% 60% 20%

.left-header-box
    grid-column: 1

.middle-header-box
    grid-column: 2
    text-align: center

.right-header-box
    grid-column: 3

.top-ad
    background-color: rgb(200,224,216)

.top-ad-title
    color: rgb(180,180,180)
    text-align: center

.top-ad-description
    color: rgb(0,146,228)
    text-align: center

.aside-text-label
    color: rgb(180,180,180)

.container2
    display: grid
    grid-template-columns: 25% 50% 25%

.container2a
    display: grid
    grid-column: 1

.container2b
    display: grid
    grid-column: 2
    text-align: center

.container2c
    display: grid
    grid-column: 3