<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title McSweeney's Internet Tendency
    link(rel="stylesheet", href="../sass/style.sass")
    script(src="../js/main.js")
  body
    nav
        .searchBar

        ul
            li Internet Tendency
            li The Store
            li Books Division
            li Quarterly Concern
            li Donate
        //- .container
        //-     .row
        //-         .logo-1
        //-             .col-xs-1.col-sm-1.col-md-2.col-lg-3.text-left wirecutter logo
        //-         .logo-2 
        //-             .col-xs-1.col-sm-1.col-md-2.col-lg-3.text-left wirecutter A New York Times Company
        //-         .search-box
        //-             .col-xs-3.col-sm-3.col-md-6.col-lg-8.text-right Show me the best...

    .container1
        .left-header-box Become a Tendency Patron.

        .middle-header-box
            .top-line McSWEENEY'S
            .middle-line INTERNET TENDENCY
            .bottom-line CELEBRATING OUR 21ST YEAR!

        .right-header-box Daily humor almost every day since 1998.

    .top-ad
        .top-ad-title BOOKS
        .top-ad-description Download PHOENIX, a new free mini-book by Dave Eggers

    .container2

        .container2a
            .aside-left
                .aside-text-label TRENDING

            .aside-left-1
                .aside-text Hello, I'll be Your Toddler Tour Guide for This Trip Out the Front Door
                .author by ELIZABETH PRESTON

            .aside-left-2
                .aside-text University Assessment Committee Erotica
                .author by JULIANA GRAY

            .aside-left-3
                .aside-text Moderately Motivated Gen-Xer for Hire
                .author by MELISSA JANISIN

            .aside-left-4
                .aside-text List: Things People Say When You Get Divorced That They Really Should Say When You Get Engaged
                .author by KIMBERLY HARRINGTON

            .aside-left-5
                .aside-text List: If People Talked to Other Professionals the Way They Talk to Teachers
                .author by SHANNON REED

            .aside-left-6
                .aside-text List: Translations of Your Boss's Meeting Invitations
                .author by OLIVIA OLSON

        .container2b
            .main-post
                .main-post-label OUR LATEST POSTS
                .main-post-heading How We Optimize a Morning Routine for Kids
                .main-post-description SHERYL CROW'S "ALL I \n WANNA DO" UPDATED FOR \n THE GIG ECONOMY
                .main-post-preview This ain't no classroom \n It ain't no office space either \n This is freelance!
                .main-post-author by Kristopher Michael Wood

        .container2c
            .aside-right
                .aside-text-label OVER AT MCSWEENEY'S PUBLISHING

            .aside-right-1
                .aside-text Amanda Davis, Super Friend
                .author by JESSICA FRANCIS KANE
            .aside-right-2
                .aside-text University Assessment Committee Erotica
                .author by JOSEPH OSMUNDSON

            .aside-right-3
                .aside-text Moderately Motivated Gen-Xer for Hire
                .author by THE HAWKINS PROJECT

            .aside-right-4
                .aside-text Phoenix, a New Mini-Book by Dave Eggers
                .author by McSWEENEY'S

            .aside-right-5
                .aside-text McSweeney's Books: An Interview with Leland De La Durantaye About His Novel, Hannah Versus the Tree
                .author by AMANDA UHLE

            .aside-right-6
                .aside-text McSweeney's Wins the 2019 National Magazine Award for Fiction
                .author by McSWEEEY'S