<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Cinzel:900|Lato:300i', type='text/css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Quicksand" type='text/css')
    title McSweeney's Internet Tendency
    link(rel="stylesheet", href="../sass/style.sass")
    script(src="../js/main.js")
  body
    nav
        .searchbar
            input
        ul
            li 
                a(href='#') Internet Tendency
            li 
                a(href='#') The Store
            li 
                a(href='#') Books Division
            li 
                a(href='#') Quarterly Concern
            li 
                a(href='#') Donate
    .container1
        .row
            .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-center
                img.top-left-image(src="https://d3thpuk46eyjbu.cloudfront.net/uploads/production/3720/1538532886/public/patreon_buttonb.png?1538532886")
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-center
                .middle-header
                    .top-line 
                        a(href='#') McSWEENEY'S
                            .middle-line INTERNET TENDENCY
                                .bottom-line CELEBRATING OUR 21ST YEAR!
            .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-center
                .right-header
                    i Daily humor almost every day since 1998.

    .top-ad
        .top-ad-title MCSWEENEY'S INTERNET TENDENCY'S PATREON
        .top-ad-description 
            i As little as $1 a month (only $12 a year!) is all it takes to support our writers and to keep our site ad-free. 
            i
                a(href='https://www.patreon.com/mcsweeneysinternettendency') Become a patron today.

    .container2
        .row
            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                .container2a
                    .aside-text-label TRENDING
                    .aside-left-main
                        .aside-text 
                            a(href='https://www.mcsweeneys.net/articles/hello-ill-be-your-toddler-tour-guide-for-this-trip-out-the-front-door') Hello, I'll be Your 
                            br
                            | Toddler Tour Guide
                            br
                            | for This Trip Out
                            br
                            | the Front Door
                        .author 
                            i by 
                            | ELIZABETH PRESTON
                    .aside-left-2
                        .aside-text 
                            a(href='#') University Assessment 
                            br
                            |Committee Erotica
                        .author 
                            i by 
                            | JULIANA GRAY
                    .aside-left-3
                        .aside-text 
                            a(href='#') Moderately Motivated
                            br
                            | Gen-Xer for Hire
                        .author 
                            i by 
                            | MELISSA JANISIN
                    .aside-left-4
                        .aside-text 
                            a(href='#') List: Things People Say When
                            br
                            | You Get Divorced That They
                            br
                            | Really Should Say When You
                            br
                            | Get Engaged
                        .author 
                            i by 
                            | KIMBERLY HARRINGTON
                    .aside-left-5
                        .aside-text 
                            a(href='#') List: If People Talked to Other
                            br
                            | Professionals the Way They
                            br
                            | Talk to Teachers
                        .author 
                            i by 
                            | SHANNON REED
                    .aside-left-6
                        .aside-text 
                            a(href='#') List: Translations of Your Boss's
                            br
                            | Meeting Invitations
                        .author 
                            i by 
                            | OLIVIA OLSON

            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .container2b
                    .main-post
                        .main-post-label OUR LATEST POST
                        .main-post-description 
                            a(href='https://www.mcsweeneys.net/articles/sheryl-crows-all-i-wanna-do-updated-for-the-gig-economy') SHERYL CROW'S "ALL I
                            |
                            |WANNA DO" UPDATED FOR 
                            |
                            |THE GIG ECONOMY
                        .main-post-preview
                            a(href='https://www.mcsweeneys.net/articles/sheryl-crows-all-i-wanna-do-updated-for-the-gig-economy')
                            i This ain't no classroom
                            br
                            i It ain't no office space either 
                            br
                            i This is freelance!
                            .main-post-author
                                i by 
                                | Kristopher Michael Wood
                    .main-list
                        .main-list-label LISTS
                        .main-list-title 
                            a(href='https://www.mcsweeneys.net/articles/six-honest-takeaways-from-the-gazettes-massive-investigation-into-the-concrete-industry') Six Honest Takeaways From the 
                                i Gazette's
                                br
                                | Massive Investigation Into the Concrete
                                br
                                | Industry
                                .main-list-author
                                    i by 
                                    | EDDIE SMALL
                        .main-list-title
                            a(href='#')
                                i Sub
                                |urban Legends
                                .main-list-author
                                    i by 
                                    | ALI KELLEY
                        .main-list-title
                            a(href='#') 
                                i Woke Harry Met Sally
                                .main-list-author
                                    i by 
                                    | AMANDA RECUPIDO
                        .main-list-title 
                            a(href='#') This Is An Ad Targeted At Millenials
                                .main-list-author
                                    i by 
                                    | BRIAN AGLER

            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                .container2c
                    .aside-text-label OVER AT MCSWEENEY'S PUBLISHING
                    .aside-right-1
                        .aside-text 
                            a(href='https://www.mcsweeneys.net/articles/amanda-davis-super-friend') Amanda Davis, Super
                            br
                            | Friend
                        .author 
                            i by 
                            | JESSICA FRANCIS KANE
                    .aside-right-2
                        .aside-text 
                            a(href='#') Excerpts from McSweeney's Quarterly: Damn You, Ira Glass and Your Perfect Male Vocal Fry
                        .author 
                            i by 
                            | JOSEPH OSMUNDSON
                    .aside-right-3
                        .aside-text 
                            a(href='#') Submission Call for
                            i What You Need To Know About Me,
                            | An Exciting New Anthology
                        .author 
                            i by 
                            | THE HAWKINS PROJECT
                    .aside-right-4
                        .aside-text 
                            a(href='#') Phoenix, a New Mini-Book 
                                i by 
                                | Dave Eggers
                        .author 
                            i by 
                            | McSWEENEY'S
                    .aside-right-5
                        .aside-text 
                            a(href='#') McSweeney's Books: An Interview with Leland De La Durantaye About His Novel, Hannah Versus the Tree
                        .author
                            i by 
                            | AMANDA UHLE
                    .aside-right-6
                        .aside-text 
                            a(href='#') McSweeney's Wins the 2019 National Magazine Award for Fiction
                        .author 
                            i by 
                            | McSWEEENY'S
    .newsletter
        .newsletter-title SIGN UP FOR THE McSWEENEY'S MONTHLY NEWSLETTER
        .sign-up
            input.newsletter
            button.newsletter Sign Up